* {
  font-family: "SUIT", sans-serif !important;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom, #383D66 280px, #FFFFFF 280px);
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 12px;
}
header img{
  width: 22px;
}
header button{
  background-color: #ffffff00;
  border: none;
}
.title{
color: #fff;
  display: flex;
  justify-content: center;
  margin-right: 108px;
  margin-top: 40px;
}

h1 {
  /* margin: 6px 0 12px 24px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.h1{
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.h2{
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  font-weight: 400;

}
.challenge-list {
  margin-top: 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px
}

.challenge-option label {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 12px;
  /* margin: 16px 0; */
  width: 280px;
  height: 96px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transform: all 0.15s ease;
}
label span:first-child{
  font-size: 14px;
  font-weight: 700;
}
.explain-wrap{
  width: 168px;
}
.explain {
  margin: 0;

  font-size: 10px;
  font-weight: 600;
  color: #333333;
}

.challenge-option input {
  display: none;
}

.challenge-option input:checked + label {
  border: solid 2px #383d66;
}

.create-btn {
  display: flex;
  justify-content: center;
  margin: 24px 14px;
}
button[type="submit"] {
  background-color: #71B5CB;
  color: white;
  width: 280px;
  height: 52px;
  font-size: 14px;
  font-weight: 600;

  border: none;
  border-radius: 12px;
  cursor: pointer;
}